################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.db
/.vs
/fms_bootstrap/x64/Debug
/hw8/.vs/hw8/v16
/hw8/x64/Debug
